<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Add product</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <form th:action="@{'/cars/add/{id}' (id=${car?.getId()})} " method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"
                 class="form-control"
                 th:value="${car.getName()}"
                 id="name"
                 name="name"
                 placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="name">Price</label>
          <input type="text"
                 class="form-control"
                 th:value="${car.getPrice()}"
                 id="price"
                 name="price"
                 placeholder="Enter Price">
        </div>

        <div class="form-group">
          <label for="name">Year</label>
          <input type="text"
                 class="form-control"
                 th:value="${car.getYear()}"
                 id="year"
                 name="year"
                 placeholder="Enter Year">
        </div>
        <div class="form-group">
          <label for="name">Horse Power</label>
          <input type="text"
                 class="form-control"
                 th:value="${car.getHorsePower()}"
                 id="horsePower"
                 name="horsePower"
                 placeholder="Enter Horse Power">
        </div>
        <div class="form-group">
          <label for="name">Image</label>
          <input type="text"
                 class="form-control"
                 th:value="${car.getImage()}"
                 id="image"
                 name="image"
                 placeholder="Enter Image">
        </div>
        <div class="form-group">
          <label for="carRental">Car Shop</label>
          <select id="carRental" name="carRental">
            <option th:each="carRental:${carRentalShops}" th:text="${carRental.getName()}"
                    th:value="${carRental.getId()}"></option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

        <a type="button" class="btn btn-primary" href="/cars/list">Back</a>
      </form>
    </div>
  </div>
</div>

</body>
</html>
